.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.notification-bell {
  position: relative;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.notification-count {
  position: absolute;
  top: -6px;
  right: -6px;

  min-width: 20px;
  height: 20px;

  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: .75rem;
  font-weight: bold;

  background: crimson;
  color: white;
}
